/* General page styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#chat-title {
    margin-top: 20px;
    text-align: center;
    color: #007bff;
    font-size: 2em;
    font-weight: bold;
}

/* Styling the chat container */
#chat-container {
    width: 80%;
    max-width: 600px;
    height: 400px;
    overflow-y: auto;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* Input area styling */
#input-area {
    width: 80%;
    max-width: 600px;
    display: flex;
}

#message-input {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 10px 0 0 10px;
    border-right: none;
}

#send-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0056b3;
}

/* Chat message styling */
.message {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 25px;
    color: white;
    max-width: 70%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.user-message {
    background-color: #4a90e2;
    margin-left: auto;
}

.bot-message {
    background-color: #34a853;
}

/* Avatar styling */
.avatar {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-size: cover;
}

.user-avatar {
    background-image: url('/static/images/user_avatar.png');
}

.doctor-avatar {
    background-image: url('/static/images/doctor_avatar.png');
}

/* Disabled input and button styling */
#message-input:disabled, #send-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}